#widget_container {
	background-color: #FFF;
	padding: 10px 10px 0 0;
	width: 480px;
	margin: 0 auto;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#widget_container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#widget_container ul li {
	display: block;
	float: left;
	width: 150px;
	height: 150px;
	margin: 0 0 10px 10px;
}

br.clear {
	clear: both;
	height: 0;
	width: 0;
}